*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #b92b27;
}
h3{
    color: purple;
}
#login{
    background-color: aqua;
}
#signup{
    background-color: red;
}
.upvote{
    background-color: green;
    color: #fff6f6;
}
p a{
    background-color: yellow;
}
nav a{
    color:rgb(236, 104, 126);
}
div > input {
    background-color: burlywood;
}